@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.abril-fatface-regular {
    @apply font-abril;
}

.first-page .swiper-slide {
    opacity: 0.4;
}

.first-page .swiper-slide-active {
    opacity: 1;
}

.first-page .swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.7;
}
